<app-header></app-header>
<div class="container">
  <br>
  <h3><strong>Crear Usuario</strong></h3>
  <form [formGroup]="formCreate">
  <div class="mb-2">
    <label for="fullName" class="form-label"><strong>Nombre Completo</strong></label>
    <input type="text" formControlName="fullName" class="form-control"  placeholder="Nombre completo" aria-describedby="passwordHelpBlock" required >
  </div>
  <div class="mb-2">
    <label for="dni" class="form-label"><strong>Número de Documento</strong></label>
    <input type="text" formControlName="dni" class="form-control" placeholder="Documento de identidad" aria-describedby="passwordHelpBlock" required >
  </div>
  <div class="mb-2">
    <label for="role" class="form-label"><strong>Rol</strong></label>
    <select formControlName="role" class="form-select" aria-label="Default select example">
        <option value="Estudiante">Estudiante</option>
        <option value="SuperAdmin">SuperAdmin</option>
        <option value="Admin">Admin</option>       
      </select>  
</div>
  <div class="mb-2">
    <label for="email" class="form-label"><strong>Correo Electrónico</strong></label>
    <input type="email" formControlName="email" class="form-control" placeholder="xxx@gmail.com" aria-describedby="passwordHelpBlock"  #userEmail required>
  </div>
  <div class="mb-2">
    <label for="password" class="form-label"><strong>Contraseña</strong></label>
    <input type="password"  class="form-control" placeholder="Número de documento del usuario" aria-describedby="passwordHelpBlock"  #userPwd required>
  </div>
  <div class="text-center">
    <!-- falta colocar funcion para enviar datos a mongo  y terminar el modelo-->
    <button type="button" class="btn btn-primary" value="Iniciar Sesión"
      (click)="x(userEmail.value, userPwd.value)"
    >Guardar Usuario</button>
  </div>
  </form>
</div>