<app-header></app-header>
<div class="modal-body">
  <div class="container">
    <div class="card text-center">
      <div class="card-header fs-4 font1">
        <b>Agregar Modulo</b>
      </div>
      <br>
      <form [formGroup]="formModules">
        <div class="mb-3">
          <label for="name"> <strong> Nombre de módulo</strong></label>
          <input formControlName="name" required class="form-control" id="name" style="height: 30px" width="100px">
        </div>
        <div class="mb-3">
          <label for="description"> <strong>Descripcion de módulo</strong> </label>
          <input formControlName="description" required class="form-control m-2" id="description" style="height: 30px">
        </div>
        <div class="mb-3">
          <label for="percentage"> <strong>Porcentaje</strong></label>
          <input formControlName="percentage" type="number" required class="form-control m-2" id="percentage" style="height: 30px">
        </div>
        <div class="text-center">
          <button type="button" (click)="saveCourse()" class="btn btn-primary">Agregar módulo</button>
        </div>
      </form>
    </div>
  </div>
</div>

