<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="card text-center">
      <div class="card-header fs-4 font1">
        <b>Notas</b>
      </div>
      <div class="info">
        <div class="col-md-6 col-sm-6">
          <div class="card" style="width: 25rem;">
            <div class="card-header">
              <h6 class="card-title"> Promedio de Programa</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="card" style="width: 25rem;">
            <div class="card-header">
              <h6 class="card-title"> Promedio Curso</h6>
            </div>
          </div>
        </div>
      </div>
      <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Modulo</th>
          <th scope="col">Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Angular Destilado</td>
          <td>90</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>SpringBoote Side</td>
          <td>80</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
