<app-header></app-header>

<section class="options">
  <div class="row">
  <div class="col-md-6 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Programas</h5>
      <p class="card-text"> SofkaU </p>
      <a routerLink="/programs" class="btn btn-outline-primary">Ver Programas</a>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Usuarios</h5>
      <p class="card-text">Creación de usuarios</p>
      <a routerLink="/create-user" class="btn btn-outline-primary">Crear Usuario</a>
    </div>
  </div>
</div>
</div>
</section>

