<app-header></app-header>

<section class="options">
  <div class="row">
  <div class="col-md-4 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Programas</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-outline-primary">Ver Programas</a>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Usuarios</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/register-user" class="btn btn-outline-primary">Crear Usuario</a>
    </div>
  </div>
</div>
</div>
</section>

