<nav class="navbar">
  <img class="brand-logo"
    src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330"
    width="150px" alt="Logo">
  <button type="button" class="btn btn-primary" (click)="authService.SignOut()">Cerrar Sesión</button>
</nav>

<section class="options">
  <div class="row">
  <div class="col-md-4 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Programas</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-outline-primary">Ver Programas</a>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Usuarios</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/register-user" class="btn btn-outline-primary">Crear Usuario</a>
    </div>
  </div>
</div>
</div>
</section>

