<app-header></app-header>
<br>
<div class="text-start">
  <button routerLink="/program" type="button">Añadir programa +</button>
</div>
<br>
<section class="programs" *ngFor="let fullProgram of fullPrograms">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 25rem;">
        <div class="card-header">
          <h5 class="card-title">{{fullProgram.program.name}}</h5>
          <p class="card-text">{{fullProgram.program.description}}</p>
          <a [routerLink]="['/program', fullProgram.program.id]" class="btn btn-outline-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

