<app-header></app-header>

<section class="programs">
  <div class="row">
  <div class="col-md-6 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">Desarrollo Web Ciclo 2 2022</h5>
      <p class="card-text">Este programa está diseñado con la intensión de formar desarrolladores web.</p>
      <a routerLink="/" class="btn btn-outline-primary">Ver Detalles</a>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6">
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title">QA Ciclo 2 2022</h5>
      <p class="card-text">Este programa está diseñado con la intensión de formar analistas de calidad.</p>
      <a routerLink="/" class="btn btn-outline-primary">Ver Detalles</a>
    </div>
  </div>
</div>
</div>
</section>

<div>
    <button routerLink="/program" type="button">Añadir programa</button>
</div>
