<app-header></app-header>

<section class="options">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card" style="width: 50rem;">
        <div class="card-header">
          <h4 class="card-title text-center"> <strong>Programas</strong> </h4>
          <p class="card-text"> SofkaU, programas de formación </p>
          <div class="text-center">
            <button routerLink="/programs" class=" ">Ver Programas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
