<app-header></app-header>
<div class="container">
  <br>
  <h3><strong>Crear Programa</strong></h3>
  <div class="mb-2">
    <label for="input1" class="form-label"><strong>Nombre del Programa</strong></label>
    <input type="text" class="form-control"  placeholder="Nombre del Programa" aria-describedby="passwordHelpBlock" required >
  </div>
  <div class="mb-2">
    <label for="input2" class="form-label"><strong>Descripción</strong></label>
    <input type="text" class="form-control" placeholder="Escriba una breve descripción del programa" aria-describedby="passwordHelpBlock" required >
  </div>
  <div class="mb-2">
    <label for="input3" class="form-label"><strong>Duración</strong></label>
    <input type="number" class="form-control" placeholder="Escriba el número de días hábiles que requiere el programa" aria-describedby="passwordHelpBlock" required >
  </div>
  <div class="mb-2">
    <label for="input4" class="form-label"><strong>Fecha Inicio</strong></label>
    <input type="date" class="form-control" required>
  </div>
  <div class="mb-2">
    <label for="input5" class="form-label"><strong>Fecha Fin</strong></label>
    <input type="text" class="form-control" aria-describedby="passwordHelpBlock" value="dd/mm/aaaa" required readonly>
  </div>
  <div class="text-center">
    <!-- falta colocar funcion para enviar datos a mongo  y terminar el modelo-->
    <button type="button" class="btn btn-primary" value="Guardar Programa"
      >Guardar Programa</button>
  </div>
</div>