<app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="shadow p-4 mb-3 bg-body rounded">
      <div class="text-center">
        <h2>Programa: {{fullProgram?.program?.name}}</h2>
      </div>
      <h5>Descripción: {{fullProgram?.program?.description}}</h5>
      <h5>Duración: {{fullProgram?.program?.duration}} días hábiles</h5>
      <h5>Fecha de inicio: {{fullProgram?.program?.startDate}}</h5>
      <h5>Fecha fin: {{fullProgram?.program?.finishDate}}</h5>
      <div class="text-end">
        <button [routerLink]="['/course', fullProgram?.program?.id]">Añadir Cursos</button>
        <button [routerLink]="['/assign-student', fullProgram?.program?.id]">Añadir Estudiantes</button>
      </div>
    </div>
    <div class="text-center">
      <div class="card text-center">
        <div class="card-header fs-4 font1">
          <b>Cursos del Programa</b>
        </div>
      </div>
      <br>
      <div class="card" style="width: 25rem;" *ngFor="let course of courses">
        <div class="shadow p-4 mb-3 bg-body rounded">
          <h5>{{course.name}}</h5>
          <h5>Promedio {{course.average}}</h5>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="card text-center">
        <div class="card-header fs-4 font1">
          <b>Estudiantes del Programa</b>
        </div>
        <br>
        <br>
        <div>
          <!--colocar aca ngfor para listar students-->
          <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">Nombre Completo</th>
                <th scope="col">Documento de Identidad</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of programStudents">
                <!-- <th scope="col">{{student.user.id}}</th> -->
                <td>{{student.user.fullName}}</td>
                <td>{{student.user.dni}}</td>
                <td>{{student.user.email}}</td>
                <td><button (click)="getStudent(student.user.id)">Calificar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>