<app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="card text-center">
      <div class="card-header fs-4 font1">
        <b>Agregar Curso</b>
      </div>
      <br>
      <form [formGroup]="formCourse">
        <div class="mb-3">
          <label for="name" class="form-label"><strong> Nombre del curso</strong></label>
          <input type="text" formControlName="name" class="form-control" aria-describedby="passwordHelpBlock" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"><strong>Descripción del curso</strong> </label>
          <input type="text" formControlName="description" class="form-control" aria-describedby="passwordHelpBlock" required>
          <br>
          <div class="text-end">
            <a routerLink="/modules" class="btn btn-primary btn-sm">Agregar Modulos</a>
          </div>
          <br>
          <div class="text-center">
            <button (click)="saveCourse()" type="button" class="btn btn-outline-primary btn-sm">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
