<app-header></app-header>
<br>
<div class="container">
  <div class="row">
   
    <div class="card text-center">
      <div class="text-start">
        <button class="boton" [routerLink]="['/program', fullProgram?.program?.id]">Volver a programa</button>
      </div>
      <div class="card-header fs-4 font1">
        <b>Agregar Curso</b>
      </div>
      <br>
      <form [formGroup]="formCourse" novalidate #f="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label"><strong> Nombre del curso</strong></label>
          <input type="text" formControlName="name" class="form-control" aria-describedby="passwordHelpBlock" 
            required>
        </div>

        <br>
        <div class="mb-3">
          <label for="nameModule" class="form-label"><strong> Nombre de Modulo</strong></label><br />
          <input type="text" formControlName="nameModule" class="form-control" #nameModule
            aria-describedby="passwordHelpBlock" required />
        </div>
        <div>
          <label for="percentage"><strong> Porcentaje</strong> </label><br />
          <input type="number" formControlName="percentage" class="form-control" #percentage min="1"  />
        </div>
        <div>
          <label style="display:none ;" for="score">Nota:</label><br />
          <input type="number" formControlName="score" class="form-control" style="display:none ;"  />
        </div>
        <button class="boton" type="submit" (click)="saveModule(); nameModule.value=''; percentage.value=''">Añadir
          Modulo</button>
        <br>
        <section class="modules" *ngFor="let module of moduleList; let i = index">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="card" style="width: 25rem;">
                <div class="card-header">

                  <h5 class="card-title">Nombre del Modulo: {{module.name}}</h5>
                  <p class="card-text">Porcentaje: {{module.percentage}}%</p>

                  <button class="btn btn-default btn-circle" (click)="deleteModule(i)">x</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="text-end">
          <br>
          <div *ngIf="isSuccess; else isError">
            <button (click)="saveCourse()" [routerLink]="['/program', fullProgram?.program?.id]" [disabled]="f.invalid" class="boton">Guardar
              Curso</button>
          </div>
          <ng-template #isError>
            <button (click)="showError()" class="boton">Guardar
              Curso</button>
          </ng-template>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
