<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="text-start">
      <button [routerLink]="['/program', fullProgram?.program?.id]">Volver a programa</button>
    </div>
    <div class="card text-center rounded" >
      <div class="card-header fs-4 font1">
        <h2><strong>Datos del Estudiante</strong> </h2>
      </div>
      <div class="text-start">
        <br>
      <h5> <strong>Nombre Completo: </strong> {{programStudent?.user?.fullName}}</h5>
      <h5><strong>Correo: </strong>{{programStudent?.user?.email}}</h5>
    </div>
    </div>
    <br>
      <div class="card text-center rounded">
        <div class="card-header fs-4 font1">
          <b>Cursos del Programa</b>
        </div>
      </div>
      <br>

      <div class="card text-center rounded">
        <div class="card-header fs-4 font1" *ngFor="let course of courses; index as iCourse">
          <h4> <strong>Curso: </strong> {{course.name}}</h4>
          <div *ngFor="let module of course.modules; index as iModule">
            <p><strong>Modulo: </strong> {{module?.name}}</p>
            <p> <strong>Porcentaje: </strong> {{module?.percentage}}%</p>
            <form [formGroup]="formScore"  >
              <label for="score" class="form-label"><strong>Añadir nota: </strong> </label>
              <input type="number" formControlName="score" min="0" max="100" required >
  
            </form>
            <br>
            <button (click)="assignScore(programStudent!, iCourse, iModule)" >Asignar nota</button>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

