<app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="shadow p-4 mb-3 bg-body rounded">
      <div class="text-center">
        <h2>Datos del Estudiante</h2>
      </div>
      <h5></h5>
      <h5> </h5>
     
    </div>
    <div class="text-center">
      <div class="card text-center">
        <div class="card-header fs-4 font1">
          <b>Cursos del Programa</b>
        </div>
      </div>
      <br>
      <div class="card" style="width: 25rem;" *ngFor="let course of courses">
        <div class="shadow p-4 mb-3 bg-body rounded">
          <h5>{{course.name}}</h5>
        </div>
      </div>
    </div>
  
        <!-- <div>
        colocar aca ngfor para listar cursos y modulos
          <table class="table table-hover">
            <thead>
              <tr>
             <th scope="col">Id</th> 
                <th scope="col">Curso</th>
                <th scope="col">Nombre de modulo</th>
                <th scope="col">Nota</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of programStudents">
              <th scope="col">{{student.user.id}}</th>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td><button  >Calificar</button></td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>



